body,
html {
  background-color: rgb(18, 18, 18);
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Login {
  width: 600px;
  background-color: rgb(32, 32, 32);
  height: max-content;
}

.fa-user {
  color: rgb(255, 255, 255);
  font-size: 5rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem !important;
}
.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}
.input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px orange;
  background-color: rgba(255, 255, 255, 0.1);
}

.inputI {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 166, 0, 0.8);
}
.Button {
  border: none;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 10px;
}
.Button:hover {
  background-color: rgba(255, 0, 0, 0.6);
}
.Button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 5px rgba(255, 0, 0, 0.4);
  background-color: rgba(255, 0, 0, 0.7);
}

@media only screen and (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
    background-color: rgb(25, 25, 25);
  }
  .Login {
    background-color: transparent;
    width: 100% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

    margin: 0;
  }
}
